*{
    margin: 0;
    padding: 0;
}
.container{
    background-image: url(../images/wallpaper.jpg);
    width: 100%;
    height: 1000px;
    background-repeat: no-repeat,repeat;
    background-size: cover;

}
.header{
    width: 100%;
    height: 65px;
    background-color: #343A40;
}
.journal{
    font-family: 'Permanent Marker', cursive;
    color: white;
    margin-left: 20px;
    margin-top: px;
    font-size: 35px;
    text-decoration: none;
}
.registerheader{
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin-left: 19px;
    font-family: 'Arial', sans-serif;
}
.main{
    background-color: white;
    height: 511px;
    width: 50%;
    display: flex;
    margin-left: 350px;
    margin-top: 75px;
}
.image{
    width: 400px;
    float: left;
}
.image img{
    width: 100%;
    height: 512px;
    opacity: 0.8;
}
.registerdiv{
    margin-top: 50px;
}
.register{
    margin-left: 45px;
    font-family: 'Arial', sans-serif;
    font-size: 36px;
    color: rgb(124, 124, 124);
}
input{
    border: none;
    border-bottom: 2px solid rgb(124, 124, 124);
    width: 75%;
    height: 30px;
    font-size: 20px;
    margin-top: 30px;
    margin-left: 50px;
}
button{
    font-size: 20px;
    margin-top: 50px;
    margin-left: 50px;
    border-radius: 30px;
    color: white;
    background-color: #FE8A51;
    padding: 5px 20px 5px 20px;
    margin-bottom: 20px;
    cursor: pointer;
}
.haveaccount{
    font-size: 18px;
    margin-top: 18px;
    margin-left: 50px;
}
.alreadyhave{
    text-decoration: none;
    margin-left: 10px;
    font-size: 17px;
    color: #0073f7;
    font-family: sans-serif;
}